@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --background-color : #EBEBEB;
    --primary-color : #3C3C3C;
    --font-family : 'Noto Sans', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #3D3D3D;
    background-color: var(--background-color);
    font-family: var(--font-family);
}

button {
    font-family: var(--font-family);

}